language: python
sudo: false
python:
    - 2.7
    - pypy
    - 3.4
    - 3.5
    - 3.6
    - pypy3
matrix:
    include:
        - python: 3.7
          dist: xenial
          sudo: true
install:
    - pip install coveralls coverage
    - pip install -e ".[test]"
script:
    - coverage run -m zope.testrunner --test-path=src -pvc
after_success:
    - coveralls
notifications:
    email: false

cache: pip
before_cache:
    - rm -f $HOME/.cache/pip/log/debug.log
